
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="https://image.flaticon.com/icons/png/512/33/33858.png"
    style="margin-left: 40px;"
  />
  <span>Computação Gráfica</span>
    <div class="spacer"></div>
    <a href="https://github.com/LauroM/ComputacaoGrafica" target="_blank">
        <img
          width="60"
          alt="Angular Logo"
          src="https://github.githubassets.com/images/modules/logos_page/Octocat.png"
          style="margin-left: 40px;"
        />
    </a>
</div>

<div class="content" role="main">

  <app-render></app-render>


</div>


<router-outlet></router-outlet>